<html>
<body>
  <div style="text-align: center">

  <img src="../assets/logo.png" alt="logo" width="150" height="150" class="logo">

  <h1 class="app-title">TODO LIST</h1>
</div>
<div class="container">
  <h2> Add a todo list item : </h2>
  <br>
  <input type="text" class="input-text" [(ngModel)]="todoValue" (keyup.enter)="addItem()" placeholder="Add item" @fade required/>
  <button class="add-btn" (click)="addItem()">Add item</button>
  <div class="list">
    <ul>
      <li *ngFor="let item of list">
          <input type="checkbox" name="isDone" [(ngModel)]="item.isDone"> <span @fade> {{ item.value }} </span>
          <button class="btn" (click)="deleteItem(item.id)">Delete item</button>

      </li>
    </ul>
  </div>
</div>
</body>
<footer>
  Developed by: Aditya Sehgal <br>
  <a href="">Facebook </a>
  <a href="">Instagram </a>
  <a href="">Github </a>
</footer>
</html>
